@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.headerContainer{
    max-width: 90vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(#970000, #00065B);
}

.headerContainer .logo {
    max-width: 110px;
    max-height: 110px;
}

.headerContainer .div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer .titulo{
    font-family: 'Itim', cursive;
    font-size: 85px;
    text-align: center;
    color: #DDDD;
    margin-right: 60px;
    
}